openapi: 3.2.0
info:
  version: 1.0.0
  title: ShapeShift Public Supported Assets API
  description: The ShapeShift Public API lets you integrate multi-chain swap functionality into your application.
servers:
- url: https://api.shapeshift.com
- url: http://localhost:3001
tags:
- name: Supported Assets
paths:
  /v1/assets:
    get:
      operationId: listAssets
      summary: List supported assets
      description: Get a list of all supported assets, optionally filtered by chain.
      tags:
      - Supported Assets
      parameters:
      - schema:
          type: string
          example: eip155:1
        required: false
        name: chainId
        in: query
      - schema:
          type: number
          minimum: 1
          maximum: 1000
          default: 100
          example: 100
        required: false
        name: limit
        in: query
      - schema:
          type:
          - number
          - 'null'
          minimum: 0
          default: 0
          example: 0
        required: false
        name: offset
        in: query
      responses:
        '200':
          description: List of assets
          content:
            application/json:
              schema:
                type: object
                properties:
                  assets:
                    type: array
                    items:
                      $ref: '#/components/schemas/Asset'
                  timestamp:
                    type: number
                required:
                - assets
                - timestamp
        '400':
          description: Invalid query parameters
        '429':
          description: Rate limit exceeded. Includes Retry-After header with seconds until reset.
          headers:
            Retry-After:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
            RateLimit-Limit:
              description: Maximum requests allowed per window
              schema:
                type: integer
                example: 60
            RateLimit-Remaining:
              description: Requests remaining in the current window
              schema:
                type: integer
                example: 0
            RateLimit-Reset:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Internal server error
  /v1/assets/{assetId}:
    get:
      operationId: getAssetById
      summary: Get asset by ID
      description: Get details of a specific asset by its ID (URL encoded).
      tags:
      - Supported Assets
      parameters:
      - schema:
          type: string
          minLength: 1
          example: eip155:1/slip44:60
        required: true
        name: assetId
        in: path
      responses:
        '200':
          description: Asset details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Asset'
        '400':
          description: Invalid asset ID
        '404':
          description: Asset not found
        '429':
          description: Rate limit exceeded. Includes Retry-After header with seconds until reset.
          headers:
            Retry-After:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
            RateLimit-Limit:
              description: Maximum requests allowed per window
              schema:
                type: integer
                example: 60
            RateLimit-Remaining:
              description: Requests remaining in the current window
              schema:
                type: integer
                example: 0
            RateLimit-Reset:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Internal server error
  /v1/assets/count:
    get:
      operationId: getAssetCount
      summary: Get asset count
      description: Get the total number of supported assets, optionally filtered by chain.
      tags:
      - Supported Assets
      parameters:
      - schema:
          type: string
          example: eip155:1
        required: false
        name: chainId
        in: query
      responses:
        '200':
          description: Asset count
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    example: 5000
                  timestamp:
                    type: number
                required:
                - count
                - timestamp
        '400':
          description: Invalid query parameters
        '429':
          description: Rate limit exceeded. Includes Retry-After header with seconds until reset.
          headers:
            Retry-After:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
            RateLimit-Limit:
              description: Maximum requests allowed per window
              schema:
                type: integer
                example: 60
            RateLimit-Remaining:
              description: Requests remaining in the current window
              schema:
                type: integer
                example: 0
            RateLimit-Reset:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Internal server error
components:
  schemas:
    RateLimitError:
      type: object
      properties:
        error:
          type: string
          example: Too many requests, please try again later
        code:
          type: string
          enum:
          - RATE_LIMIT_EXCEEDED
          example: RATE_LIMIT_EXCEEDED
      required:
      - error
      - code
    Asset:
      type: object
      properties:
        assetId:
          type: string
          example: eip155:1/slip44:60
        chainId:
          type: string
          example: eip155:1
        name:
          type: string
          example: Ethereum
        symbol:
          type: string
          example: ETH
        precision:
          type: number
          example: 18
        color:
          type: string
          example: '#5C6BC0'
        icon:
          type: string
          example: https://assets.coincap.io/assets/icons/eth@2x.png
        networkName:
          type: string
          example: Ethereum
        networkColor:
          type: string
          example: '#5C6BC0'
        networkIcon:
          type: string
          example: https://assets.coincap.io/assets/icons/eth@2x.png
        explorer:
          type: string
          example: https://etherscan.io
        explorerAddressLink:
          type: string
          example: https://etherscan.io/address/
        explorerTxLink:
          type: string
          example: https://etherscan.io/tx/
        relatedAssetKey:
          type:
          - string
          - 'null'
      required:
      - assetId
      - chainId
      - name
      - symbol
      - precision
      - color
      - icon
      - explorer
      - explorerAddressLink
      - explorerTxLink
      - relatedAssetKey
