openapi: 3.2.0
info:
  version: 1.0.0
  title: ShapeShift Public Auth API
  description: The ShapeShift Public API lets you integrate multi-chain swap functionality into your application.
servers:
- url: https://api.shapeshift.com
- url: http://localhost:3001
tags:
- name: Auth
paths:
  /v1/auth/siwe/nonce:
    post:
      operationId: siweNonce
      summary: Get SIWE nonce
      description: Request a nonce for Sign-In with Ethereum (SIWE) authentication.
      tags:
      - Auth
      responses:
        '200':
          description: SIWE nonce
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiweNonceResponse'
        '429':
          description: Rate limit exceeded. Includes Retry-After header with seconds until reset.
          headers:
            Retry-After:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
            RateLimit-Limit:
              description: Maximum requests allowed per window
              schema:
                type: integer
                example: 60
            RateLimit-Remaining:
              description: Requests remaining in the current window
              schema:
                type: integer
                example: 0
            RateLimit-Reset:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Internal server error
        '503':
          description: Swap service unavailable
        '504':
          description: Swap service timed out
  /v1/auth/siwe/verify:
    post:
      operationId: siweVerify
      summary: Verify SIWE signature
      description: Verify a Sign-In with Ethereum (SIWE) message and signature. Returns a JWT token on success.
      tags:
      - Auth
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                message:
                  type: string
                signature:
                  type: string
              required:
              - message
              - signature
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiweVerifyResponse'
        '400':
          description: Invalid request body
        '401':
          description: Invalid signature
        '429':
          description: Rate limit exceeded. Includes Retry-After header with seconds until reset.
          headers:
            Retry-After:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
            RateLimit-Limit:
              description: Maximum requests allowed per window
              schema:
                type: integer
                example: 60
            RateLimit-Remaining:
              description: Requests remaining in the current window
              schema:
                type: integer
                example: 0
            RateLimit-Reset:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Internal server error
        '503':
          description: Swap service unavailable
        '504':
          description: Swap service timed out
components:
  schemas:
    SiweNonceResponse:
      type: object
      properties:
        nonce:
          type: string
          example: abcdef123456
      required:
      - nonce
    RateLimitError:
      type: object
      properties:
        error:
          type: string
          example: Too many requests, please try again later
        code:
          type: string
          enum:
          - RATE_LIMIT_EXCEEDED
          example: RATE_LIMIT_EXCEEDED
      required:
      - error
      - code
    SiweVerifyResponse:
      type: object
      properties:
        token:
          type: string
          example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
        address:
          type: string
          example: '0x1234567890123456789012345678901234567890'
      required:
      - token
      - address
