openapi: 3.2.0
info:
  version: 1.0.0
  title: ShapeShift Public Supported Chains API
  description: The ShapeShift Public API lets you integrate multi-chain swap functionality into your application.
servers:
- url: https://api.shapeshift.com
- url: http://localhost:3001
tags:
- name: Supported Chains
paths:
  /v1/chains:
    get:
      operationId: listChains
      summary: List supported chains
      description: Get a list of all supported blockchain networks, sorted alphabetically by name.
      tags:
      - Supported Chains
      responses:
        '200':
          description: List of chains
          content:
            application/json:
              schema:
                type: object
                properties:
                  chains:
                    type: array
                    items:
                      $ref: '#/components/schemas/Chain'
                  timestamp:
                    type: number
                required:
                - chains
                - timestamp
        '429':
          description: Rate limit exceeded. Includes Retry-After header with seconds until reset.
          headers:
            Retry-After:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
            RateLimit-Limit:
              description: Maximum requests allowed per window
              schema:
                type: integer
                example: 60
            RateLimit-Remaining:
              description: Requests remaining in the current window
              schema:
                type: integer
                example: 0
            RateLimit-Reset:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Internal server error
  /v1/chains/count:
    get:
      operationId: getChainCount
      summary: Get chain count
      description: Get the total number of supported blockchain networks.
      tags:
      - Supported Chains
      responses:
        '200':
          description: Chain count
          content:
            application/json:
              schema:
                type: object
                properties:
                  count:
                    type: number
                    example: 28
                  timestamp:
                    type: number
                required:
                - count
                - timestamp
        '429':
          description: Rate limit exceeded. Includes Retry-After header with seconds until reset.
          headers:
            Retry-After:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
            RateLimit-Limit:
              description: Maximum requests allowed per window
              schema:
                type: integer
                example: 60
            RateLimit-Remaining:
              description: Requests remaining in the current window
              schema:
                type: integer
                example: 0
            RateLimit-Reset:
              description: Seconds until the rate limit window resets
              schema:
                type: integer
                example: 30
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RateLimitError'
        '500':
          description: Internal server error
components:
  schemas:
    Chain:
      type: object
      properties:
        chainId:
          type: string
          example: eip155:1
        name:
          type: string
          example: Ethereum
        type:
          type: string
          enum:
          - evm
          - utxo
          - cosmos
          - solana
          - tron
          - sui
          - near
          - starknet
          - ton
          example: evm
        symbol:
          type: string
          example: ETH
        precision:
          type: number
          example: 18
        color:
          type: string
          example: '#5C6BC0'
        networkColor:
          type: string
          example: '#5C6BC0'
        icon:
          type: string
          example: https://rawcdn.githack.com/trustwallet/assets/32e51d582a890b3dd3135fe3ee7c20c2fd699a6d/blockchains/ethereum/info/logo.png
        networkIcon:
          type: string
          example: https://rawcdn.githack.com/trustwallet/assets/32e51d582a890b3dd3135fe3ee7c20c2fd699a6d/blockchains/ethereum/info/logo.png
        explorer:
          type: string
          example: https://etherscan.io
        explorerAddressLink:
          type: string
          example: https://etherscan.io/address/
        explorerTxLink:
          type: string
          example: https://etherscan.io/tx/
        nativeAssetId:
          type: string
          example: eip155:1/slip44:60
      required:
      - chainId
      - name
      - type
      - symbol
      - precision
      - color
      - explorer
      - explorerAddressLink
      - explorerTxLink
      - nativeAssetId
    RateLimitError:
      type: object
      properties:
        error:
          type: string
          example: Too many requests, please try again later
        code:
          type: string
          enum:
          - RATE_LIMIT_EXCEEDED
          example: RATE_LIMIT_EXCEEDED
      required:
      - error
      - code
